<%# app/views/layouts/bravura_template_normal/_footer.html.erb %>
<footer class="footer relative bg-white py-12 sm:py-16">
	<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
		<div class="flex flex-col items-center gap-y-8 lg:gap-y-12">
			<div>
				<%= link_to root_path, class: 'footer-logo flex items-center', data: { umami_event: 'Clicked Link: /', umami_href: '/' } do %>
					<%# FIXME: This is a temporary fix for the logo %>
					<%#= image_tag(current_account.settings_navigation.logo,
									alt: "Logo",
									class: "h-8 w-auto mr-1") if current_account.settings_navigation.logo.attached?
								%>

					<% if @current_account&.settings_navigation&.logo&.attached? %>
						<%= image_tag(@current_account.settings_navigation.logo, alt: "Logo", class: "h-8 w-auto mr-1") %>
					<% else %>
						<%= image_tag('bravura_template_normal/default_logo.png', alt: "Default Logo", class: "h-8 w-auto mr-1") %>
					<% end %>

					<span class="text-2xl font-bold tracking-tight text-secondary-900"><%= @logo_text %></span>
				<% end %>
			</div>
			<!-- FIXME: Commenting out is a temporary fix for the right nav links -->
			<%     @footer_nav_links = [
      OpenStruct.new(name: 'About', url: 'google.com'),
      OpenStruct.new(name: 'Contact', url: 'dicemediagroup.com')
    ]

  %>
			<ul class="footer-links flex flex-wrap items-center justify-center gap-x-10 gap-y-5">
				<% @footer_nav_links.each do |link| %>
				  	<li >
    					<%= render 'layouts/bravura_template_normal/nav_link', url: link.url, name: link.name %>
					</li>
  				<% end %>
			</ul>
			<ul class="footer-links flex flex-wrap items-center justify-center gap-x-10 gap-y-5 list-none">
				<%# application_helper %>
				<% social_links.each do |platform, url| %>
					<li>
						<%= render partial: 'bravura_template_normal/layouts/footer/platform_link', locals: { url: url, platform: platform } %>
					</li>
				<% end %>
				<% if @sitemap %>
					<li>
						<%= link_to "/_feather/sitemap.xml",
							target: "_blank", rel: "noopener",
							class: "inline-flex h-10 w-10 items-center justify-center text-secondary-600 transition-all duration-200 rounded-full hover:bg-primary-50 hover:text-primary-700",
							data: { umami_event: "Clicked Link: /_feather/sitemap.xml", umami_href: "/_feather/sitemap.xml" } do %>
							<span class="sr-only">Sitemap</span>
							<%= render_svg("bravura_template_normal/sitemap") %>
						<% end %>
						<%= image_tag("bravura_template_normal/sitemap") %>
					</li>
				<% end %>			
			</ul>
			<p class="copyright-notice text-sm text-secondary-600">
			  <%= copyright %>
			</p>
		</div>
	</div>
	<a
		target="_blank"
		rel="noopener"
		href="https://feather.so/?utm_source=watermark"
		class="watermark flex justify-center"
		data-umami-event="Clicked Link: https://feather.so/?utm_source=watermark"
		data-umami-href="https://feather.so/?utm_source=watermark"
	>
		<button type="button" class="group z-20 flex items-center bg-secondary-900 text-xs font-bold text-white shadow-lg backdrop-blur-lg bottom-2.5 rounded-cta-button-radius px-2 py-1.5 hover:bg-secondary-700 absolute">
			<span>Published with</span>&nbsp;
			<span>Bravura</span>
		</button>
	</a>
</footer>
